/* Strategy: mobile last */

body {
  @extend %paragraph;
  background-color: $color-blanco;
}

h1 {
  @include fontstyle(22px, $text-transform: uppercase);
  margin: 20px 0px;
}

h2 {
  @include fontstyle(20px);
  margin-bottom: 10px;
}

h3 {
  @include fontstyle(18px);
  margin-bottom: 10px;
}

h4 {
  @include fontstyle(16px);
}

p {
  @include fontstyle($line-height: 25px);
  margin: 0;
}

button {
  background: $color-rojo;
  border: solid 1px $color-rojo;
  border-radius: 2px;
  color: $color-blanco;
  line-height: 35px;
  padding: 0 20px;
  transition: all $transition-time;

  &:hover {
    color: $color-rojo;
    background-color: $color-blanco;
  }
}



.fixed-btn {
  position: fixed;
  right: 20px;
  bottom: 70px;
  background-color: green;
  width: 35px;
  height: 35px;
  color: $color-blanco;
  font-size: 24px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 0 4px 0 black;
  transition: all $transition-time;

  &:hover {
    width: 41px;
    height: 41px;
    right: 17px;
    bottom: 67px;

    i {
      line-height: 41px;
      color: $color-blanco;
    }
  }

  i {
    line-height: 35px;
  }
}

form {
  max-width: 600px;
  margin-bottom: 20px;

  label,
  input,
  textarea,
  select,
  legend {
    display: block;
    width: 100%;
  }

  label {
    margin: 5px 0 5px 0;
  }

  legend {
    margin-bottom: 10px;
  }

  input,
  textarea,
  select {
    margin-bottom: 10px;
    line-height: 24px;
    border-radius: 2px;
    border-width: 1px;
    padding: 0 10px;
  }
}

/* Mobile */
@media (max-width: 767px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 14px;
    font-weight: bold;
  }
}

.carousel-control-next,
.carousel-control-prev {
  &:focus,
  &:hover {
    background: none;
    opacity: 1;
  }
}

// MQ  Mobile
@media(max-width:767px) {
  .mobile-hidden {
      display: none !important;
  }
}

/* MQ Desktop */

@media(min-width:768px) {
  .desktop-hidden {
      display: none !important;
  }
}