/* Colours */

$color-azul: #373B8C;
$color-azul-claro : #676bb9;
$color-rojo: #BF2626;
$color-rojo-claro: #d94646;
$color-blanco: #F2F2F2;
$color-gris-claro: rgb(218, 212, 212);
$color-gris: rgb(223, 223, 223);

/* Transitions */

$transition-time: 300ms;
