/* 
Colours:
#373B8C azul oscuro
#676bb9 azul claro 
#BF2626 rojo claro
#d94646 rojo mas claro 
#F2F2F2 blanco gris
*/

/* estretegia: mobile last */
/* Todas las resoluciones */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F2F2F2;
    font-size: 14px;
    font-family: Montserrat;
    color: black;
}



a {
    color: #373B8C;
    text-decoration: none;
    transition: all 300ms;

}

a:hover {
    color: #676bb9;
}

ul li {
    list-style: none;
    overflow: hidden;
}

h1 {
    font-size: 22px;
    margin: 20px 0px;
    text-transform: uppercase;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

h4 {
    font-size: 16px;
}

p {
    line-height: 25px;
}

button {
    padding: 0 20px;
    line-height: 35px;
    background: #BF2626;
    color: #f2f2f2;
    border: solid 1px #BF2626;
    border-radius: 2px;
    transition: all 300ms;
}

button:hover {
    color: #BF2626;
    background-color: #f2f2f2;
}

.page-layout{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-areas: 
        "header"
        "main"
        "footer";    
}

header {
    border-bottom: solid 3px #373B8C;
    grid-area: header;
}

.preheader {
    background-color: #BF2626;
    color: #F2F2F2;
    padding: 5px 20px;
    text-align: right;
}

.preheader strong {
    margin-right: 3px;
}

.preheader p,
.preheader i,
.preheader a {
    color: #F2F2F2;
    display: inline-block;
}

.preheader ul li {
    display: inline-block;
    margin-left: 15px;
}

.main-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.main-header .logo img {
    margin-top: 10px;
}

.menu ul li {
    display: inline-block;
    margin-left: 20px;
    transition: transform 300ms;
}

.menu ul li:hover {
    transform: scale(1.1);
}

.menu ul li a {
    font-size: 18px;
    font-weight: bold;
}

.menu ul li a.active {
    font-weight: bold;
}

main {
    grid-area: main;

}

.main-content {
    padding: 20px 20px 40px;
}

.main-banner {
    display: block;
    height: auto;
    margin: 0 0 40px;
    width: 100%;
}

.cols-2-set {
    display: flex;
    align-items: center;
}

.cols-2-set .col {
    width: 50%;
}

.cols-2-set .col:first-child {
    padding-right: 10px;
}

.cols-2-set .col:last-child {
    padding-left: 10px;
}

.cols-2-set .col img {
    width: 100%;
}

.intro {
    margin: 0px 0px 40px;
}

.intro.cols-2-set .col {
    align-items: center;
    display: flex;
}

.clients h3 {
    margin-bottom: 20px;
    text-align: center;
}

.clients ul {
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.clients li {
    margin-right: 20px;
}

.clients li:last-child {
    margin-right: 0px;
}

.clients ul li img {
    width: 100%;
    max-width: 100px;
}

footer {
    border-top: solid 3px #373B8C;
    padding: 20px 20px 0;
    grid-area: footer;

}


.copyrigth {
    background-color: #d94646;
    color: #F2F2F2;
    margin: 20px -20px 0px;
    padding: 2px 20px;
    line-height: 28px;
    font-size: 10px;
}

.cols-4-set {
    display: flex;
    flex-direction: row;
}

.cols-4-set .col {
    width: 25%;
}


footer .logo a img {
    width: 75px;
    height: auto;
}

footer .links ul li a {
    color: #373B8C;
    font-weight: bold;
}

footer .links ul li a:hover {
    color: #676bb9;
}

footer .contact ul li {
    padding-bottom: 16px;
}

footer .contact ul li strong {
    margin-right: 3px;
}

footer .contact ul li p {

    display: inline-block;
    color: #373B8C;
}

footer .socials ul {
    align-items: center;
    display: flex;
    justify-content: right;
}

.col.socials ul li {
    margin-left: 10px;
}

.col.socials ul li a {
    font-size: 25px;
}

.col.links ul li {
    margin: 0 0px 9px 0px;
}

.copyrigth p {
    text-align: center;
}

.fixed-btn {
    position: fixed;
    right: 20px;
    bottom: 70px;
    background-color: green;
    width: 35px;
    height: 35px;
    color: #f2f2f2;
    font-size: 24px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 0 4px 0 black;
    transition: all 300ms;

}


.fixed-btn i {
    line-height: 35px;
}


.fixed-btn:hover {
    width: 41px;
    height: 41px;  
    right: 17px;
    bottom: 67px;
}

.fixed-btn:hover i{
    line-height: 41px;
    color: #f2f2f2;

}

/* Servicios */

.services {
    margin: 0 0 40px;
    align-items: flex-start;
}


.services h1 {
    margin-bottom: 20px;
    text-transform: uppercase;
}


.services ul li {
    margin-bottom: 20px;
}

/* gallery */

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-bottom: 20px;
}

.gallery img {
    width: 100%;
}

/* .nosotros */

.nosotros h3 {
    margin: 0 0 10px;
}

.nosotros p,
.nosotres p {
    margin-bottom: 20px;
    text-align: justify;
}

/* contacto */

form {
    max-width: 600px;
    margin-bottom: 20px;
}

form label,
form input,
form textarea,
form select,
form legend {
    display: block;
    width: 100%;
}

form label {
    margin: 5px 0 5px 0;
}

form legend {
    margin-bottom: 10px;
}

form input,
form textarea,
form select {
    margin-bottom: 10px;
    line-height: 24px;
    border-radius: 2px;
    border-width: 1px;
    padding: 0 10px
}

iframe.mapa {
    width: 100%;
}





/* Desktop */

@media(min-width:768px) {
    .desktop-hidden {
        display: none !important;
    }
}

/* Tablet */

@media(max-width:1024px) {
    .gallery{
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Mobile */
@media(max-width:767px) {
    .mobile-hidden {
        display: none !important;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    h4 {
        font-size: 14px;
        font-weight: bold;
    }

    .cols-2-set {
        flex-direction: column;
    }

    .cols-2-set .col {
        width: 100%;
    }

    .cols-2-set .col:first-child {
        padding-right: 0;
        margin-bottom: 20px;
    }

    .cols-2-set .col:last-child {
        padding-left: 0;
    }

    .cols-4-set {
        flex-direction: column;
    }

    .cols-4-set .col {
        margin-bottom: 20px;
        width: 100%;
    }

    .cols-4-set .col:last-child {
        margin-bottom: 0;
    }

    header {
        border-top: solid 3px #BF2626;
    }

    .main-header .logo img {
        max-width: 75px;
    }

    footer .socials ul {
        justify-content: center;
    }

    .clients ul {
        flex-wrap: wrap;
        text-align: center;
    }

    .clients li {
        margin-right: 0;
        min-width: 50%;
    }

    .gallery {
        margin: 10px 0;
        grid-template-columns: repeat(2, 1fr);
    }
}
/* Small mobile */
@media(max-width:480px){
    .gallery{
        grid-template-columns: repeat(1, 1fr);

    }
}